workflows/backups/Output_Parser_6i6sui4GLkZceBJp.json
{
  "updatedAt": "2025-10-20T13:15:37.000Z",
  "createdAt": "2025-10-20T11:01:24.025Z",
  "id": "6i6sui4GLkZceBJp",
  "name": "Output Parser",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a0ac3f71-faa9-471b-813d-035a83a3ff8f",
      "name": "When chat message received",
      "webhookId": "aee20c53-face-42bd-bc73-1b3ac2d1b6b7"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "너는 패턴 분류기야\n사용자의 요청에 따라 패턴을 반환해줘\n\n아래는 패턴이야\na: 슬픔\nb: 화남\nc: 기쁨\nd: 배고픔\ne: 졸림"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "3bfcbd24-1315-4b43-b459-b62921cad20d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        232,
        224
      ],
      "id": "ed1e6b3c-4226-4b2a-8738-db3300f5a2c7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MyayuS8zrM1FTv2i",
          "name": "demodev.connect"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"패턴\": \"a\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        360,
        224
      ],
      "id": "00ef5cfe-6b1e-426d-bef2-871a1e3cf202",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3b54c78-b43d-4a71-b6ab-58506a2dc17a",
              "leftValue": "={{ $json.output['패턴'] }}",
              "rightValue": "b",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "78185115-6eaa-45d1-8575-33a7d03e8d30",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: \"패턴은 B\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -96
      ],
      "id": "8d465a9b-1b68-4fc6-9ff3-3830f7b3d597",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: \"패턴은 B가 아니야\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        96
      ],
      "id": "832c98bf-65ce-4ccd-b04f-7ec3a106531d",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7f2e1062-f8d1-4c12-b6b8-73bfa0789543",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-20T11:01:24.029Z",
      "createdAt": "2025-10-20T11:01:24.029Z",
      "role": "workflow:owner",
      "workflowId": "6i6sui4GLkZceBJp",
      "projectId": "IC88dd2d9Hx6YiyI",
      "project": {
        "updatedAt": "2025-09-20T13:52:29.594Z",
        "createdAt": "2025-09-20T13:45:08.916Z",
        "id": "IC88dd2d9Hx6YiyI",
        "name": "Aiden Ahn <senugw0u@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-20T13:45:08.916Z",
            "createdAt": "2025-09-20T13:45:08.916Z",
            "userId": "e6845f9c-5e74-45fb-8e27-14d56a0a1fea",
            "projectId": "IC88dd2d9Hx6YiyI",
            "user": {
              "updatedAt": "2025-11-18T15:52:58.000Z",
              "createdAt": "2025-09-20T13:45:08.643Z",
              "id": "e6845f9c-5e74-45fb-8e27-14d56a0a1fea",
              "email": "senugw0u@gmail.com",
              "firstName": "Aiden",
              "lastName": "Ahn",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-20T13:52:55.248Z",
                "personalization_survey_n8n_version": "1.111.1",
                "companySize": "<20",
                "companyType": "education",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UYmvgcU1ex2B9Ure",
                "userActivatedAt": 1760487644703,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763275179469
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}