2-shorts-automation/1.json
{
  "name": "Giphy to Shorts",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.giphy.com/v1/gifs/random",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YsQuivrsfVOszQ7rGfjSdiChNnrmW76y"
            },
            {
              "name": "tag",
              "value": "funny"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "id": "8b691877-3051-4dc3-8217-fc1ed55e84dd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.data.images.original.mp4 }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        304
      ],
      "id": "84dacc41-6af4-42e5-889f-c219baa546c9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/input_{{ $now.toUnixInteger() }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        864,
        304
      ],
      "id": "67cd964c-085d-4a93-a864-aa397fae04ca",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "=INPUT=$(ls -t /tmp/input_*.mp4 | head -1) && OUTPUT=\"/tmp/short_$(date +%s).mp4\" && ffmpeg -y -i \"$INPUT\" -vf \"scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920\" -c:v libx264 -preset fast -crf 23 -t 15 \"$OUTPUT\" && echo \"$OUTPUT\" && rm \"$INPUT\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1072,
        304
      ],
      "id": "1474fb34-7f64-4665-9612-6d0629234833",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        304
      ],
      "id": "3486a2c4-9272-48fa-b3bd-dc465343a659",
      "name": "Read/Write Files from Disk1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionOrder": "v1"
  },
  "versionId": "ab24ebf5-681b-4d4c-988d-4778861e70b9",
  "meta": {
    "instanceId": "2eeaa1553e793bf1a04159196cbd7b5bbd9ef1b74df22f7f983d24d48e4884c6"
  },
  "id": "EcdYj5cRRo1ZrSwv",
  "tags": []
}